<ion-modal-view>
	<ion-header-bar>
      <h1 class="title">Check in!</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content>
    <form>
    <label class="item padding item-input item-stacked-label">
 	 	<span class="check-label">Date</span>
 	 	<input type="date" class="form-control" ng-model="checkin.date" placeholder="">
	</label>
	
	
	<label class="item padding item-input item-stacked-label">
 	 	<span class="check-label">Distance Travelled</span>
 	 	<input type="number" class="form-control" ng-model="checkin.distance" placeholder="">
	</label>
	
	
	<label class="item padding item-input item-stacked-label">
 	 	<span class="check-label">Time</span>
 	 	<input type="number" style="display:table-cell" ng-model="checkin.hour" class="form-control" placeholder="Hours">
   		<input type="number" class="form-control" ng-model="checkin.minute" style="display:table-cell" placeholder="Minutes">
	</label>
	
	
	
	<label class="item padding item-input item-stacked-label">
 	 	<span class="check-label">Notes</span>
 	 	<textarea type="text" ng-model="checkin.notes" class="form-control" placeholder=""/>
	</label>
	
	
	<div class="item item-input padding item-stacked-label">

 	 	<div class="input-label">Difficulty</div>
 	 	</div>
 	 	<div class="tag-wrapper item item-input" style="width:100%">
   		<div class="tag-description" ng-click="setDiff('easy')" ng-show="!diff.easy">Easy</div>
   		<div class="tag-description selected" ng-click="setDiff('easy')" ng-show="diff.easy">Easy</div>
   		<div class="tag-description" ng-click="setDiff('medium')" ng-show="!diff.medium" >Medium</div>
   		<div class="tag-description selected" ng-click="setDiff('medium')" ng-show="diff.medium" >Medium</div>
   		<div class="tag-description" ng-click="setDiff('intermediate')" ng-show="!diff.intermediate" >Intermediate</div>
   		 <div class="tag-description selected" ng-click="setDiff('intermediate')" ng-show="diff.intermediate" >Intermediate</div>
   		<div class="tag-description" ng-click="setDiff('hard')" ng-show="!diff.hard">Hard</div>
   		<div class="tag-description selected" ng-click="setDiff('hard')" ng-show="diff.hard">Hard</div>
   		</div>
 	 
 	 	<div class="center-container">
 	 	<div class="item item-input" style="width:100%">

 	 	<div ng-click="submit()" class="tag-description">Submit!</div>
 	 	</div>
 	 	</div>
	</form>
    </ion-content>
</ion-modal-view>