<ion-view hide-nav-bar="true"  >
<!-- 
 <ion-header-bar>
 <div class="title">
      <button class="icon icon ion-ios-home">
    
      </button>
      <button class="icon icon ion-image">
         
      </button>
      <button class="icon icon ion-map">
        
      </button>
    </div>
    </ion-header-bar> -->
    <ion-header-bar id="guide-header" ng-show="!displayMap">
    <div class="title">
    {{data.name_description}}
    </div>
    <button class="button-clear button-primary" ng-click="back()">Back</button>
    </ion-header-bar>
     <ion-header-bar id="map-header" ng-show="displayMap" ng-click="closeMap()">
         <div class="title">
         {{data.name_description}} Map
         </div>
     </ion-header-bar>
<ion-content>
<div style="height:55px"></div>
<img src="{{siteURL}}"  />

<h1 class="guide-header">{{data.location_loc}}</h1>
<h1 class="guide-header">{{data.closest_to}}</h1>
   <div class="tag-wrapper">
      <div class="tag-description">{{data.distance}} Miles</div>
      <div class="tag-description">{{data.elevation}} ft. gain</div>
      <div class="tag-description" ng-repeat="tags in data.tags">{{tags}}</div>
   </div>
   
   <div>
      <img src={{data.gps}} ng-click="showMap()">
   </div>
   <ion-gallery ion-gallery-items="images"></ion-gallery>
   <div class="tag-description">{{data.description}}</div>
   <div>
      <div class="video-container">
      <iframe src="{{hyperlapse}}"" frameborder="0" width="560" height="315"></iframe>
      </div>
   </div>
   <h1 class="guide-header">Similar Hikes</h1>
   <div ng-repeat="guide in data.similar_hikes">
      <img ng-click="openGuide(guide)" src="{{globalData.guides[guide].image_descriptions[0].URL}}"/>
   </div>
  
</ion-content>
   <div class="guide-bottom-bar">
   <div class="title">
      <div class="tab-container-3" ng-click="addToFuture()" ng-show="profile.future.indexOf(data.name)==-1">
        <span class="tab-button icon icon ion-ios-plus"></span>
        <span class="tab">Add to Future Hikes</span>
      </div>
      <div class="tab-container-3" ng-click="addToFuture()" ng-show="profile.future.indexOf(data.name)!=-1">
        <span class="tab-button icon icon ion-ios-minus"></span>
        <span class="tab">Remove From Future Hikes</span>
      </div>
      <div class="tab-container-3" ng-click="addToOffline()" ng-show="profile.offline.indexOf(data.name)==-1">
          <span class="icon icon ion-ios-download"></span>
          <span class="tab">Download Map</span>
      </div>
      <div class="tab-container-3" ng-click="addToOffline()" ng-show="profile.offline.indexOf(data.name)!=-1">
          <span class="icon icon ion-close-round"></span>
          <span class="tab">Remove Map</span>
      </div>
      <div class="tab-container-3" ng-click="openModal()">
        <span class="icon icon ion-checkmark"></span>
        <span class="tab">Check In</span>
      </div>
     

  </div>
  </div>
</ion-view>
