/* Empty. Add your own CSS if you like */

img {
    max-width: 100%
}

.container{
	background-color: grey;
}

.scrollCanvas{
  width: 100%;
  height: 50%;
  background-color: black;
}
.bar-subheader, .bar, .bar-stable, .bar-header, .title{
	background-color:#2ebbbe!important;
	color:white!important;
	
}
.profile-title{
	background-color:#d3d3d3!important;
}
.bar-subheader{
	top:0px!important;
}
.title, .header-item{
	color:white;
}
.tab-nav, .tabs{
	background-color:#2ebbbe;
}
ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated{
	color:white!important;
}
.item, .item-avatar{
	background-color:#d3d3d3;
}
.selected{
	background-color:#2ebbbe;
}
.check-label{
	border-bottom: 1px solid #2ebbbe;
	width:100%; 
}
.image{
  	width: 100%;
  	height: 300px;
  	background-size: contain;
  	background-repeat: no-repeat;
  	background-position: center, center;
}
#profile-picture{
	height:150px;
}
.guide-header{
	color: #696969;
	text-align: center
}

.tag-description{
	border:solid;
	border-width: 2px;
    border-color:#2ebbbe;
    overflow:hidden;
    font-size:10px;
    color: #696969;
    padding: 15px;
    border-radius:4px;
    margin:3px
}
.tag-wrapper{
	display:inline-flex;
	flex-direction:row;
	flex-wrap:wrap;
	padding:10px;
}

.homepage-container{
	display:inline-flex;
	flex-direction:row;
	flex-wrap:wrap;

}
.guide-bottom-bar{
	position:fixed;
	bottom:0;
	width:100%;
}
.tab-container{
	vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 24%;

 
  border: 1px solid #ccc;
  border-radius: 6px;
  

}
.button-clear.button-clear{
	color:#696969;
}
.tab-container-3{
	vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 32%;

  

}
.tab-button{
	 margin:0px;
    padding: 0px;
}

.tab{
	display:block;
	font-size:8px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}